#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wallet-hash {
    width: 90%
}
